<nav class="navbar navbar-light" style="background-color: #f7f6f8;">
    <div class="container-fluid">

        <div class="btn-group">
            <button mat-stroked-button (click)='toProducts()'>Products</button>
            <button mat-stroked-button (click)='toCategories()'>Categories</button>
        </div>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>

    </div>
</nav>
