<form id="createFormId">
    <h2 style="text-align: center;">Add category</h2>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input required="true" type="text" class="form-control" id="name">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input required="true" type="text" class="form-control" id="description">
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    
</form>