<form id="createFormId"> 
    <h2 style="text-align: center;">Add product</h2>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input required="true" type="text" class="form-control" id="name" >
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input  required="true" type="text" class="form-control" id="description" >
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input required="true" type="text" class="form-control" id="price" >
      </div>

      <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input required="true" type="text" class="form-control" id="stock" >
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input required="true" type="text" class="form-control" id="category" >
      </div>
    

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="enable">
      <label class="form-check-label" for="enable">Enable</label>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
  </form>
